rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function currentBusinessId() {
      return signedIn()
        ? firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.businessId
        : null;
    }

    match /businesses/{businessId}/attachments/{attachmentId}/{fileName} {
      allow read, write: if signedIn() && currentBusinessId() == businessId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
